@mixin tablets{
	@media (max-width: $tablets) {
		@content;
	}
}

@mixin phones{
	@media (max-width: $phones) {
		@content;
	}
}

@mixin phones-small{
	@media (max-width: $phones-small) {
		@content;
	}
}

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}