.assortment-composition {
    position: relative;
    &:hover {
        .assortment-composition__list {
            opacity: 1;
            left: 100%;
        }
    }
    @include tablets {
        display: none;
    }
}

.assortment-composition__button {
    width: 90px;
    height: 90px;
    background-color: $blue;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.assortment-composition__button-icon {
    width: 51px;
    height: 51px;
}

.assortment-composition__title {
    font-size: rem(14px);
    text-transform: uppercase;
    font-weight: bold;
}

.assortment-composition__list {
    position: absolute;
    min-width: 270px;
    left: -9999px;
    top: 0;
    opacity: 0;
    background-color: rgba(#ffffff,0.9);
    padding: 24px 20px 24px 32px;
    transition: opacity .3s ease-out;
}

.assortment-composition__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.assortment-composition__icon {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 24px;
}

.assortment-composition__weight {
    margin-left: auto;
}