.because {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &:last-child {
    .because__logo::after {
      display: none;
    }
    @include tablets {
      margin-bottom: 0;
    }
  }
  @include tablets {
    width: 40%;
    margin-bottom: rem(35px);
  }
  @include phones {
    width: 80%;
    margin-bottom: rem(15px);
  }
}

.because__logo {
  width: rem(125px);
  height: rem(125px);
  background-color: $light-gray;
  border-radius: 50%;
  padding: rem(27px);
  position: relative;
  margin-bottom: rem(35px);
  @include flexCenter;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  @include tablets {
    margin-bottom: rem(20px);
  }
  @include phones {
    margin-bottom: rem(8px);
  }
  &:after {
    content: '';
    width: rem(67px);
    height: rem(21px);
    background: url(../images/because-bg.png) center center / cover no-repeat;
    position: absolute;
    right: -110%;
    top: 50%;
    transform: translateY(-50%);
    @include tablets {
      display: none;
    }
  }
}

.because__picture {
  max-width: 100%;
  stroke: $black;
  fill: $light-gray;
}

.because__title {
  font-size: rem(27px);
  margin-bottom: rem(30px);
  font-family: $bold;
  @include tablets {
    margin-bottom: rem(20px);
  }
  @include phones {
    margin-bottom: rem(5px);
  }
}

.because__desc {
  font-family: $light;
  color: $gray;
  @include phones {
    width: 90%;
  }
}