.comments {
  
}

.comments__content {
  min-height: rem(351px);
  background-color: $backround-gray;
  padding: rem(51px) rem(180px) rem(40px) rem(45px);
  position: relative;
  margin-bottom: rem(50px);
  overflow: hidden;
  display: flex;
  @include tablets {
    width: 60%;
    margin: 0 auto;
    padding: rem(66px) rem(30px) rem(38px);
    margin-bottom: rem(40px);
  }
  @include phones {
    width: 100%;
  }
  &:before {
    content: '';
    width: rem(90px);
    height: rem(90px);
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    content: '';
    width: rem(127px);
    height: rem(167px);
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/comments_bg.png) center center / contain no-repeat;
  }
}

.comments__avatars {
  display: flex;
  justify-content: center;
  z-index: 3;
}

.comments__avatar {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  margin-right: rem(40px);
  &:last-child {
    margin-right: 0;
  }
  &.active {
  border: 6px solid $dark-green;   
  }
}