.comments {
  &:before {
    content: '';
    width: rem(173px);
    height: rem(99px);
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/comments-up.png) center center / contain no-repeat;
  }
  &:after {
    content: '';
    width: rem(158px);
    height: rem(422px);
    position: absolute;
    bottom: rem(-100px);
    left: 0;
    background: url(../images/comments-down.png) center center / contain no-repeat;
  }
}

.comments__content {
  min-height: rem(351px);
  background-color: $backround-gray;
  padding: rem(51px) rem(180px) rem(40px) rem(45px);
  position: relative;
  margin-bottom: rem(50px);
  &:before {
    content: '';
    width: rem(90px);
    height: rem(90px);
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    content: '';
    width: rem(127px);
    height: rem(167px);
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/comments_bg.png) center center / contain no-repeat;
  }
}

.comments__avatars {
  display: flex;
  justify-content: center;
}

.comments__avatar {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  margin-right: rem(40px);
  &:last-child {
    margin-right: 0;
  }
  &.active {
  border: 6px solid $dark-green;   
  }
}