.features__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align-last: left;
  @include tablets {
    display: none;
  }
}

.features__item {
  display: flex;
  @include tablets {
    width: 21%;
  }
  @include phones {
    width: 27%;
    text-align: left;
  }
}

.features__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(35px);
  height: rem(35px);
  margin-right: rem(10px);
  flex-shrink: 0;
  @include phones {
    width: rem(55px);
  }
}

.features__img {
  max-width: 100%;
  max-height: 100%;
  fill:#ffffff;
}