.menu {
  position: relative;
  background: url(../images/menu_bg.png) center center / cover no-repeat;
  color: #fff;
}

.menu__title {
  position: absolute;
  left: rem(30px);
  top: rem(30px);
}

.menu__item {
  display: flex;
  &.active {
    .menu__content {
      max-width: rem(630px);
      @include tablets {
        max-width: rem(400px);
      }
    }
    .menu__desc {
      opacity: 1;
    }
  }
}

.menu__button {
  color: inherit;
  min-width: rem(100px);
  background: center center / cover no-repeat;
  position: relative;
  @include phones {
    min-width: rem(60px);
  }
}

.menu__button-text {
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  bottom: rem(40px);
  font-size: rem(36px);
  white-space: nowrap;
  font-family: $medium;
}

.menu__acco {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  &.active {
    width: 100%;
    justify-content: flex-end;
    .menu__item.active {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
    }
  }
}

.menu__content {
  background: rgba(18, 19, 20, 0.8);
  max-width: 0;
  overflow: hidden;
  transition: max-width .3s linear;
}

.menu__desc {
  max-width: 100%;
  line-height: 1.8;
  padding: rem(55px) rem(27px);
  opacity: 0;
  transition: opacity .3s linear;
  transition-delay: .3s;
}