.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000005e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay__container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.overlay__content {
  margin-bottom: 2rem;
}