.why {
  text-align: center;
}

.why__title {
  margin-bottom: rem(23px);
  @include phones {
    margin-bottom: rem(5px);
  }
}

.why__desc {
  padding: 0px 27%;
  color: $gray;
  font-family: $regular;
  margin-bottom: rem(57px);
  @include phones {
    padding: 0;
    margin-bottom: rem(15px);
  }
}



.why__list {
  display: flex;
  justify-content: space-between;
  @include phones {
    flex-direction: column;
    align-items: center;
  }
}